body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 6em;
  text-align: center;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 2em;

}

a {
  font-style: italic;
  color: blue;
  text-decoration: none;
}

p {
  width: 50%;

}

img {
  width: 50%;
}
